<nav class="nav">
	<div class="wrap nav-inner">
		<a class="brand" href="{{ '/' | relative_url }}" target="_self">
			<img src="{{ site.app_icon }}" alt="{{ site.app_name }} app icon" width="36" height="36">
			<span>KEV</span>
		</a>
		<div class="nav-links">
			<a href="{{ '/#features' | relative_url }}" target="_self">Features</a>
			<a href="{{ '/#reviews' | relative_url }}" target="_self">Reviews</a>
			<a href="{{ '/#how' | relative_url }}" target="_self">How it works</a>
			<a href="{{ '/learn/' | relative_url }}" target="_self">Learn</a>
			<a href="{{ '/#faq' | relative_url }}" target="_self">FAQ</a>
			<a href="{{ '/changelog/' | relative_url }}" target="_self">What's New</a>
			<a href="{{ '/privacy/' | relative_url }}" target="_self">Privacy</a>
		</div>
	</div>
</nav>
